// <?xml version="1.0" encoding="UTF-8"?>
// <!DOCTYPE plist PUBLIC "-
// <plist version="1.0">
// <dict>
// 	<key>CFBundleDevelopmentRegion<
// 	<string>$(DEVELOPMENT_LANGUAGE)<
// 	<key>CFBundleDisplayName<
// 	<string>Zeehub Task<
// 	<key>CFBundleExecutable<
// 	<string>$(EXECUTABLE_NAME)<
// 	<key>CFBundleIdentifier<
// 	<string>$(PRODUCT_BUNDLE_IDENTIFIER)<
// 	<key>CFBundleInfoDictionaryVersion<
// 	<string>6.0<
// 	<key>CFBundleName<
// 	<string>zeehub_task<
// 	<key>CFBundlePackageType<
// 	<string>APPL<
// 	<key>CFBundleShortVersionString<
// 	<string>$(FLUTTER_BUILD_NAME)<
// 	<key>CFBundleSignature<
// 	<string>????<
// 	<key>CFBundleVersion<
// 	<string>$(FLUTTER_BUILD_NUMBER)<
// 	<key>LSRequiresIPhoneOS<
// 	<true
// 	<key>UILaunchStoryboardName<
// 	<string>LaunchScreen<
// 	<key>UIMainStoryboardFile<
// 	<string>Main<
// 	<key>UISupportedInterfaceOrientations<
// 	<array>
// 		<string>UIInterfaceOrientationPortrait<
// 		<string>UIInterfaceOrientationLandscapeLeft<
// 		<string>UIInterfaceOrientationLandscapeRight<
// 	<
// 	<key>UISupportedInterfaceOrientations~ipad<
// 	<array>
// 		<string>UIInterfaceOrientationPortrait<
// 		<string>UIInterfaceOrientationPortraitUpsideDown<
// 		<string>UIInterfaceOrientationLandscapeLeft<
// 		<string>UIInterfaceOrientationLandscapeRight<
// 	<
// 	<key>CADisableMinimumFrameDurationOnPhone<
// 	<true
// 	<key>UIApplicationSupportsIndirectInputEvents<
// 	<true
// <
// <
