// <?xml version="1.0" encoding="UTF-8"?>
// <!DOCTYPE plist PUBLIC "-
// <plist version="1.0">
// <dict>
// 	<key>CFBundleDevelopmentRegion<
// 	<string>$(DEVELOPMENT_LANGUAGE)<
// 	<key>CFBundleExecutable<
// 	<string>$(EXECUTABLE_NAME)<
// 	<key>CFBundleIconFile<
// 	<string><
// 	<key>CFBundleIdentifier<
// 	<string>$(PRODUCT_BUNDLE_IDENTIFIER)<
// 	<key>CFBundleInfoDictionaryVersion<
// 	<string>6.0<
// 	<key>CFBundleName<
// 	<string>$(PRODUCT_NAME)<
// 	<key>CFBundlePackageType<
// 	<string>APPL<
// 	<key>CFBundleShortVersionString<
// 	<string>$(FLUTTER_BUILD_NAME)<
// 	<key>CFBundleVersion<
// 	<string>$(FLUTTER_BUILD_NUMBER)<
// 	<key>LSMinimumSystemVersion<
// 	<string>$(MACOSX_DEPLOYMENT_TARGET)<
// 	<key>NSHumanReadableCopyright<
// 	<string>$(PRODUCT_COPYRIGHT)<
// 	<key>NSMainNibFile<
// 	<string>MainMenu<
// 	<key>NSPrincipalClass<
// 	<string>NSApplication<
// <
// <
