// <?xml version="1.0" encoding="UTF-8"?>
// <!DOCTYPE plist PUBLIC "-
// <plist version="1.0">
// <dict>
//   <key>CFBundleDevelopmentRegion<
//   <string>en<
//   <key>CFBundleExecutable<
//   <string>App<
//   <key>CFBundleIdentifier<
//   <string>io.flutter.flutter.app<
//   <key>CFBundleInfoDictionaryVersion<
//   <string>6.0<
//   <key>CFBundleName<
//   <string>App<
//   <key>CFBundlePackageType<
//   <string>FMWK<
//   <key>CFBundleShortVersionString<
//   <string>1.0<
//   <key>CFBundleSignature<
//   <string>????<
//   <key>CFBundleVersion<
//   <string>1.0<
//   <key>MinimumOSVersion<
//   <string>11.0<
// <
// <
